@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 70%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: black;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
}

.box {
  max-width: 1824px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .box {
    padding: 0 48px;
  }
}



/* HEADER */
 .logob{
 width: 100px;
 height: 80px;
 cursor: pointer;
 }
 
 
 nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 }

 nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
 }
 
 nav ul li a{
     text-decoration: none;
     color: #606163;
 }
 
 nav ul li a:hover{
     color: #6078EA;
 } 

 .d {
  display: flex;
  align-items: center;
}


 .align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

 @media only screen and (max-width: 768px) {
  nav {
    padding: 16px 0;
  }


  .icons{
    display: none;
  }

 
  .logob{
    width: 100px;
    height: 80px;
    cursor: pointer;
    } 
  }
  
  
  

/* Intro */
.intro {
  
  overflow: hidden;
  position: relative;
  z-index: 0;
  color:black;
  background-color: whitesmoke;
  background-image: url('https://images.squarespace-cdn.com/content/v1/51670cc8e4b0d248167bfc65/1367269390363-HX6WLCGLYO3B6NVZ4Z7B/watch+ad.jpg?format=1500w');
  background-repeat: no-repeat;
  background-attachment: scroll; 
  background-size: 100% 100%;
}


.intro-content {
  height: 100%;
}



.dis {
  display: inline-block;
  font-size: 40px;
  color: #6078EA;
}

.intro h1 {
  margin-top: 50px;
  line-height: 1.3;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

.intro h2 {
  line-height: 1.3;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
}


.intro  h3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 80px;
  background-color: #6078EA;
  padding: 20px 80px;
  color: white;
  font-weight: 600;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);
  margin-top: 75px;
  margin-left: 600px;
  cursor: pointer;
}
.btn:hover {

  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  background-color: #6d83f1;

}


.btn1 {
  border-radius: 80px;
  background-color: #6078EA;
  padding: 20px 80px;
  color: white;
  font-weight: 600;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn1:hover {

  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  background-color: #6d83f1;
  transform: scale(1.1);

}

.introabout{
  overflow: hidden;
  position: relative;
  z-index: 0;
  color:black;
  background-color: whitesmoke;
  /**background-image: url('https://images.squarespace-cdn.com/content/v1/51670cc8e4b0d248167bfc65/1367269390363-HX6WLCGLYO3B6NVZ4Z7B/watch+ad.jpg?format=1500w');
  background-repeat: no-repeat;
  background-attachment: scroll;**/ 
  background-size: 100% 100%;

}

.dis {
  display: inline-block;
  font-size: 40px;
  color: #6078EA;
}

.introabout h1 {
  margin-top: 50px;
  line-height: 1.3;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

.introabout h2 {
  line-height: 1.3;
  font-weight: 600;
  font-size: 45px;
  text-align: center;
}


.introabout h3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}





/* Section */
.section {
  padding: 150px 0 0 0;
}

.contact-section {

  padding: 1px 0 0 0;
}

/* New Arrivals */
.h {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 600;
}

.h h1 {
  font-weight: 400;
}

.h span {
  color:  #6078EA;
}

.ac-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 80px;
  margin-bottom: 80px;
}

.ac {
  text-align: center;
  padding-bottom: 16px;
  transition: all 500ms ease-in-out;
}

.ac:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.ac .img-cover {
  overflow: hidden;
}

.ac img {
  transition: all 500ms ease-in-out;
}

.ac:hover img {
  transform: scale(1.2);
}

@media only screen and (max-width: 567px) {
  .h {
    font-size: 32px;
  }
}




    
    /*footer*/
    #footer {
      
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
        position: relative;
        min-height: 50vh;
        padding: 50px 100px;
        background-color: black;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
    
     
     #footer ul li{
        color: white;
        list-style:none;
        margin: 30px 40px;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #footer ul li a{
        text-decoration: none;
        color: white;
        font-family: sans-serif;
    }
    
    #footer ul li a:hover{
        color: #6078EA;
    } 
    
    
    .social-links{
        margin-left: 8%;
        margin-top: 100px;
    }
    
    .social-links a{
        font-size: 30px;
        color: #606163;
        margin-right: 20px;
    }
    
    .social-links a:hover{
     color: #6078EA;
    }